<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Vaccine Registration</display-name>

  <servlet>
    <servlet-name>login-servlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>register-servlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>statistics-servlet</servlet-name>
    <servlet-class>servlets.StatisticsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>reservation-region-servlet</servlet-name>
    <servlet-class>servlets.ReservationRegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reservation-city-servlet</servlet-name>
    <servlet-class>servlets.ReservationCityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reservation-district-servlet</servlet-name>
    <servlet-class>servlets.ReservationDistrictServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reservation-center-servlet</servlet-name>
    <servlet-class>servlets.ReservationCenterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reservation-vaccine-servlet</servlet-name>
    <servlet-class>servlets.ReservationVaccineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reservation-date-servlet</servlet-name>
    <servlet-class>servlets.ReservationDateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cancel-servlet</servlet-name>
    <servlet-class>servlets.CancelServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>login-servlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register-servlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>statistics-servlet</servlet-name>
    <url-pattern>/statistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reservation-region-servlet</servlet-name>
    <url-pattern>/reserve-region</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reservation-city-servlet</servlet-name>
    <url-pattern>/reserve-city</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reservation-district-servlet</servlet-name>
    <url-pattern>/reserve-district</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reservation-center-servlet</servlet-name>
    <url-pattern>/reserve-center</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reservation-vaccine-servlet</servlet-name>
    <url-pattern>/reserve-vaccine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reservation-date-servlet</servlet-name>
    <url-pattern>/reserve-date</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cancel-servlet</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>


  <listener>
    <listener-class>listeners.ServletListener</listener-class>
  </listener>
  <listener>
    <listener-class>listeners.SessionListener</listener-class>
  </listener>

</web-app>
